<div class="contacto">
  <h2 id="contacto">Contacto</h2>
    <div class="dejar-mensajes">
      <form>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name">
        <label for="mail">Email</label>
        <input type="email" name="mail" id="mail"><br>
        <label for="mensaje">Tu Mensaje</label>
        <input type="text" name="mensaje" id="mensaje">
        <button>Enviar</button>
      </form>
    </div>
    <div class="datos-de-contacto">
      <address>
        Paloma Reh <br>
        Rosario, Argentina <br>
      <div>
        <img src="#" alt="Logo gmail"/>
        palomareh95@gmail.com
      </div>  
      </address>
    </div>
</div>

