<section id="proyectos">
    <h2>Proyectos</h2>
    <h3>Esta Pagina</h3>
    <p>El proceso de desarrollo incluye:</p>
        <ol>
            <li>Prototipo realizado en Figma</li>
            <li>HTML, CSS y JavaScript</li>
            <li>otro </li>
            <li>etc </li>
        </ol>
    <p>Todo esto puede verse en <a href="#">este enlace</a>.</p> <!-- Enlace a GitHub -->
    <h3>Segundo proyecto</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, perspiciatis assumenda ut sint porro necessitatibus numquam similique quisquam voluptatem! Ducimus earum, suscipit id unde iusto facere accusantium animi! Ab, temporibus?</p>
    <h3>Tercer proyecto</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea animi dolore magni unde similique, velit eum molestiae placeat ad asperiores veritatis? Enim quidem eveniet ipsa, nobis architecto pariatur ex aperiam.</p>
  </section>
