<div class="proyectos">
    <h2 id="proyectos">Proyectos</h2>
    <div class="boton-edit">
        <a href="#" class="botonR"><i class="#"></i></a>
    </div>
    <div>
        <ul class="itemsList">
            <li *ngFor="let proyectos of proyectosList">
                <div class="dataContainer">
                    <img class="logo-image"
                    src="" alt=""
                    />
                </div>
                <div class="listInfo">
                    <div>
                        <h3>{{proyectos.proyecto}}</h3>
                        <p> {{proyectos.tecnologias}} </p>
                    </div>
                </div>  
            </li>
        </ul>
    </div>
</div>
