<section id="experiencia-laboral">
    <h3>Experiencia Laboral:</h3> 
        <ul>
            <li>Moza</li>
            <li>Niñera</li>
            <li>Recepcionista</li>
        </ul>
    <h2>Experiencia Laboral Deseada:</h2>
        <h3>Desarrollo de Paginas Web</h3>
        <p>Al realizar este Proyecto Integrador, me di cuenta de que ademas de la programacion de paginas web me gusta realizar tambien el diseño visual. Es por eso que quisiera dedicarme a armar paginas web completas, empezando por la realizacion de un prototipo visual, su construccion y mantenimiento. 
        <h3>Diseño y Desarrollo de Videojuegos</h3>
        <p>Quisiera dedicarme al desarrollo de videojuegos, no solo su programacion en Godot o Unity, sino tambien el diseño de los niveles y mecanicas. Esto lo haria en principio como un proyecto personal, es decir que la intencion es crear mis propios videojuegos, no crearlos para un tercero; lo cual no significa que no pueda volverse un trabajo tambien.</p>
  </section>
