<div class="experiencia" id="experiencia-laboral">
    <h2>Experiencia Laboral</h2>
    <div class="boton-edit">
        <a href="#" class="botonR"><i class="#"></i></a>
    </div>
    <div>
        <ul class="itemsList">
            <li *ngFor="let experiencia of experienciaList">
                <div class="dataContainer">
                    <img class="logo-image"
                    src="" alt=""
                    />
                </div>
                <div class="listInfo">
                    <div>
                        <h3>{{experiencia.position}} </h3>
                        <p> {{experiencia.company}} </p>
                        <p> {{experiencia.mode}} </p>
                        <p>  <time> {{experiencia.start}} </time> - <time> {{experiencia.end}} </time> </p>
                    </div>
                </div>  
            </li>
        </ul>
    </div>
</div>
