<section id="hard-y-soft">
    <h2>Hard Skills</h2>
    <div>
        <label for="html-css-js">HTML, CSS y JavaScript</label>
        <meter id="html-css-js" min="0" max="100" value="30"></meter>
    </div>
    <div>
        <label for="algoritmos-y-estructura-de-datos">Algoritmos y estructura de datos</label>
        <meter id="algoritmos-y-estructura-de-datos" min="0" max="100" value="40"></meter>
    </div>
    <div>
        <label for="programacion-en-c">Programacion en C</label>
        <meter id="programacion-en-c" min="0" max="100" value="10"></meter></div>
    <h2>Soft Skills</h2>
    <div>
        <label for="trabajo-en-equipo">Trabajo en equipo</label>
        <meter id="trabajo-en-equipo" min="0" max="100" value="90"></meter>
    </div>
    <div>
        <label for="pensamiento-logico">Pensamiento Logico</label>
        <meter id="pensamiento-logico" min="0" max="100" value="65"></meter>
    </div> 
</section>
