<div class="aptitudes" id="hard-y-soft"> 
    <div class="hard">
        <div class="skill"> 
            <div class="outer">
                <div class="inner">
                    <div id="number">
                        Html y Css <br>
                        60%
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="hyc"/>
            </svg>    
        </div>
        <div class="skill"> 
            <div class="outer">
                <div class="inner">
                    <div id="number">
                        Algoritmos <br>
                        40%
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="algoritmos"/>
            </svg>    
        </div>
        <div class="skill"> 
            <div class="outer">
                <div class="inner">
                    <div id="number">
                    C <br>
                    15%
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="c"/>
            </svg>    
        </div>
    </div>
    <div class="soft">
        <div class="skill"> 
            <div class="outer">
                <div class="inner">
                    <div id="number">
                        Trabajo en Equipo <br>
                        90%
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="equipo"/>
            </svg>    
        </div>
        <div class="skill"> 
            <div class="outer">
                <div class="inner">
                    <div id="number">
                        Pensamiento Logico <br>
                        75%
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="pensamiento-logico"/>
            </svg>    
        </div>
        <div class="skill"> 
            <div class="outer">
                <div class="inner">
                    <div id="number">
                        Responsabilidad <br>
                        100%
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" class="responsabilidad"/>
            </svg>    
        </div>
    </div>
</div>
